<div class="row">
        <div class="bottomgrid track-info">
            <div>
              <img class="song-cover" id="song-cover" src="/images/nosong.png">
              <div class="song-info-text">
                  <h4 class="song-info-title ellipses" id="song-title">No Current Song</h4>
                  <h4 class="song-info-albumartist ellipses" id="song-album"></h4>
                  <h4 class="song-info-albumartist ellipses" id="song-artist"></h4>
              </div>
            </div>
        </div>
        <div class="col bottomgrid control-panel">
            <div>
                <div class="seekcontainer">
                    <input type="range" min="0" max="1" value="0" class="seekbar" id="seek">
                </div>
            </div>
        <div class="controls">
            <img class="control-repeat control" id="play-repeat" src="">
            <img class="control-back control" id="play-back" src="/images/player_controls/back.png">
            <img class="control-play control" id="play-pause" src="">
            <img class="control-forward control" id="play-forward" src="/images/player_controls/forward.png">
            <img class="control-shuffle control" id="play-shuffle" src="/images/player_controls/shuffle-inactive.png">
        </div>
    </div>
</div>